doctype html
html
  head
    block title
      itle= "云中信"

    block css

    block define
      include const
  body
    block landing
      include landing

    block page

    block js

    block analytics
      include analytics
