footer.footer
  div.inner
    ul
      li.view-cc
        span. CREDIT CLOUD
        h3. 云信
      li.view-products
        div.dotted-line
          span. PRODUCTS AND SERVICES
          h3. 产品与服务
      li.view-customers
        span. TYPICAL CUSTOMERS
        h3. 典型客户
