extends layout

block content
    h1= title
    h3 Search page
    p Welcome to #{title}
    a(href='users').
     Go Users
    
    br

    a(href='search').
     Go search
    
    br

    a(href='/').
     Go index

    p #{content}
