.section {
  background-color: transparent;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}
section.container {
}
section .sub-page {
  background-color: #F7F7F7;
  margin-top: 65px;
}
.container {
  width: 100%;
  overflow: hidden;

  img {
    width: 100%;
    height: auto;
  }
}

.container-in {
  overflow: auto;
  margin: 0 auto;
  max-width: 1280px;
}

.slider {
  position: relative;

  .slider-title {
    position: absolute;
  }

  .home-slider {
    width: 400px;
    min-height: 200px;
    left: 10%;
    top: 15%;
    -vendor-animation-duration: 3s;
    -vendor-animation-delay: 2s;
    -vendor-animation-iteration-count: infinite;
  }

  h2 {
    font-size: 2.6em;
    font-weight: bold;
  }
  p {
    padding: 10px 0;
    color: #777;
  }
}


.sub-body {
  width: 100%;
  height: 100%;
  position: relative;
}
.animate-text {
  position: absolute;
  z-index: 10;
  width: 300px;
  height: 100%;
  left: -400px;
  top: 0;

  h2 {
    margin-top: 35%;
  }
}

.team-wrap {
  margin-left: 300px;
  height: 100%;

  table {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
    }
    tr td {
      background-color: transparent;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;

      &.ava-1 {
        background-image: url(/images/team/1.png);
      }
      &.ava-2 {
        background-image: url(/images/team/2.png);
      }
    }
  }

  .team-top {
    height: 50%;

    .pull-left, .pull-right {
      width: 50%;
      height: 100%;
    }
    .pull-left {
      table tr td {
        width: 50%;
      }
    }
    .pull-right {
      background: blue;
    }
  }
  .team-bottom {
    height: 50%;
    background-color: orange;
  }
}
