#landing {
  position: absolute;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: #fff;
  background-image: url('/images/loading.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 30%;
}
